version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: routine-tracker-backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    container_name: routine-tracker-frontend
    env_file:
      - ./frontend/.env
    ports:
      - "8080:80"
    depends_on:
      - backend
