version: "3.9"

services:
  backend:
    build: ./backend
    container_name: routine-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: routine-frontend
    restart: unless-stopped
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
